body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: inline;
}

.site-header {
    margin-bottom: 50px;
}

.site-header_logo {
    width: 140px;
}

.layout-container {
    padding-left: 6%;
    padding-left: 6%;
}

.layout-row {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form_itemsContainer {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    margin-bottom: 50px;
}

.form_image {
    display: block;
    width: 100%;
}

.characters_items {
    display: flex;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}